<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Shared/SharedClasses.css" />
</head>

<body>
    @Html.Hidden("HiddenCurrentUrl", Url.Content("~"))
   
    @Html.Partial("~/Views/UtilComponents/_Overlay.cshtml")
    
    <div class="navbar navbar-inverse navbar-fixed-top navbarMain">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DuoTheBudget", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">

        <div class="container-fluid body-content middleContainer">
            <div class="container-fluid ComponentContainer" style="padding-top: 0px;">
                @RenderBody()


            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - DuoTheBudget Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
